# Latex
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.pdf
cv-blx.bib
cv.run.xml
cv.fls
cv.texnicle
cv.texnicle.backup

# IDE files
.idea/
.vscode/
!.vscode/launch.json
!.vscode/tasks.json
.vscode-test
*.sublime-project
*.sublime-workspace
sublime-project

# Misc
.DS_Store
.wakatime-project
